@import "styles";

:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: rgb(49, 49, 49);

    align-items: center;
}

.input-group {
    margin-top: 40vh;
    width: 50%;
}

#messages {
    margin-top: 50px;
}