<div class="input-group mb-10">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Shorten Your URL</span>
    </div>
    <input #urlInput id="shorten_input" type="text" [value]="url" class="form-control" placeholder="type here with http" aria-label="Shorten input" aria-describedby="basic-addon1">
    <button type="button" class="btn btn-light" (click)="shorten(urlInput.value)">Shorten</button>

    
</div>

<div id="messages" class="card" *ngIf="messages">
    <div class="card-body">
    {{messages}}
    </div>
</div>